@font-face {
    font-family: '681';
    src: url('fonts/681.html');
    src: url('fonts/681.html') format('embedded-opentype'),
         url('fonts/681-2.html') format('woff2'),
         url('fonts/681-3.html') format('woff'),
         url('fonts/681-4.html') format('truetype'),
         url('fonts/681-5.html#681') format('svg');
}
body{font-family: '681';}
a:focus {outline:0px solid}
.text-center.logo > h2 {
  font-family: "681";
  font-size: 38px;
  font-weight: bold;
  position: relative;
}
.text-center a:hover .text-heading {
  color: #009ED8;
}
.text-heading{
  text-decoration:none;
  transition: all .3s ease 0s;
}
.text-heading:hover {
  color: #009ED8;
}
.logo{
	margin-top: 30px;
	margin-bottom: 30px;
}
.text-center.logo > img {
  position: relative;
}
.responsive{
	max-width: 100%;
}
.image-shop-box.demo-full {
  text-decoration: none;
}
.btn-buy{
	background-color:#434343;
	color:#fff;
	padding: 10px 60px;
	text-transform: uppercase;
	font-weight: bold;
	transition: all .3s ease 0s;
}
.text-center.logo > h2::after {
  background: #009ED8 none repeat scroll 0 0;
  content: "";
  height: 3px;
  left: 50%;
  margin-left: -30px;
  position: absolute;
  top: -9px;
  width: 60px;
}
.image-heading{
	margin: 50px 0 80px;
}

.btn-buy:hover{
	background: #009ED8;
	color:#fff;
}

.buy-now{
	margin-top: 100px;
	position: relative;
}

.buy-now img{
	position: absolute;
	left: 35%;
	top: -180%;
}
.image-shop-box{
	margin-bottom: 50px;
	display: block;
	text-align: center;
}
.heading-title{
	text-transform: uppercase;
	color:#333;
	margin: 50px 0;
}
.text-heading {
  color: #555;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}


.copyright{
	margin: 30px 0;
}

.image-bg{
	background: url('../img/demo-bg.png') no-repeat center top; 
	width: 350px;
	height:215px;
	display:inline-block;
	position: relative;
}
.image-bg .image-shop-scroll{
	background-position: center 0;
	background-repeat: no-repeat;
	position: absolute;
	width: 280px;
	height: 165px;
	top: 23px;
	left: 0;
	background-size: cover;
	right: 0;
	margin: 0 auto;
}

.image-bg .image-shop-scroll{
	transition: all 6s ease-out 0s;
	-webkit-transition: all 6s ease-out 0s;
	-moz-transition: all 6s ease-out 0s;
	-ms-transition: all 6s ease-out 0s;
	-o-transition: all 6s ease-out 0s;
}

.image-bg:hover .image-shop-scroll{
	background-position: center 100%!important;
}
.col-lg-12.col-md-12 {
  text-align: center;
}
.section-title {
  border: 1px solid #009ed8;
  display: inline-block;
  font-size: 24px;
  margin: 30px auto;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}
